**
!Dockerfile
!gradlew
!build.gradle
!settings.gradle
!gradle/
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!src/
!src/main/
!src/main/**
**/.env*
**/*.pem
**/*.key
**/*.p12
**/*.jks
